%div{class:'container'}
  %div{class:'jumbotron'}
    %h1 Welcome to the Books Catalog App
    = link_to 'Browse Catalogs', catalogs_path, class:'btn btn-outline btn-primary mr-auto'
    = link_to 'Search all Books', books_path, class:'btn btn-outline btn-primary ml-auto'
